.auth-actions {
  display: flex;
  flex-direction: row;
  margin: 0.25rem 0;
}

.auth-actions .btn {
  width: 100%;
  max-width: 100%;
}

.error-msg {
  color: var(--error-red);
}

.logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  font-size: 1.5rem;
  color: var(--primary-color);
}
