@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Dancing+Script&family=Comfortaa&display=swap");

@import url(./utils.css);

:root {
  --background-color: #f7f7f7;
  --title-font-family: "Dancing Script", cursive;
}

body {
  background-color: var(--background-color);
  font-family: "Comfortaa", cursive;
}

input,
button {
  font-family: inherit;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.fas.fa-heart {
  color: red;
}

a {
  text-decoration: underline;
}

i:hover {
  cursor: pointer;
}

.btn {
  max-width: 100%;
}

a.btn {
  text-decoration: none;
}
