.filters {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 4rem;
  width: 20%;
  padding: 1rem;
  height: 90vh;
  z-index: 5;
}

.filter-list {
  border-right: 1px solid var(--primary-color);
  /* height: 100vh; */
  overflow-y: scroll;
}

/* .filter-list::-webkit-scrollbar {
  display: none;
} */

.filter-heading {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  font-weight: var(--weight-semibold);
}

.filter-subheading {
  font-size: 1rem;
  margin-left: 0.3rem;
}

.filter-item {
  margin: 1.5rem 0;
}

.filter-item li {
  margin: 0.5rem 0;
}

.filter-item label:hover {
  cursor: pointer;
}

.filter-item #slider {
  width: 80%;
}

@media screen and (max-width: 880px) {
  .filters {
    display: none;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
  }
}
