.product-heading {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  font-weight: var(--weight-semibold);
}

.product-subheading {
  font-size: 1rem;
  font-weight: var(--weight-light);
}

.product {
  display: flex;
  justify-content: center;
}

.card {
  max-height: 100%;
}

.card .card-img {
  height: 208px;
  width: 208px;
}

.grid-5-col {
  margin: 0;
  max-width: 100%;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: not-allowed;
  z-index: 1;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
}

.card-ecom .rating {
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
  border-radius: 0;
  font-size: 0.8rem;
}

#filter-toggle {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--primary-color);
  display: none;
  z-index: 5;
}

.filters.active {
  display: flex;
}

@media screen and (max-width: 1375px) {
  .grid-5-col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Media queries for small mobile screen size */

@media screen and (max-width: 1180px) {
  .grid-5-col {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 880px) {
  .grid-5-col {
    grid-template-columns: 1fr 1fr;
  }

  #filter-toggle {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .grid-5-col {
    grid-template-columns: 1fr;
  }
}
